/* Login.css */
.login-page {
    background-color: #0d1414;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .login-container {
    background-color: #0d1414;
    border: 3px solid #606060;
    border-radius: 12px;
    padding: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  .login-box {
    text-align: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .form-group {
    margin-bottom: 20px;
    width: 100%; /* Ensure full width for form elements */
  }
  
  input {
    padding: 15px; /* Increased padding for larger input boxes */
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #ffffff;
    border-radius: 6px;
    color: #000000;
    width: 100%; /* Full width for input boxes */
    margin-bottom: 5px; /* Increased margin-bottom */
  }
  
  .forgot-password-link {
    color: #cfffe9;
    cursor: pointer;
    text-decoration: underline;
    margin-bottom: 10px;
    font-size: 12px;
  }
  
  .login-button {
    background-color: #cfffe9;
    color: #000000;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 15px;
  }
  
  .login-button:hover {
    background-color: #a1f1c4;
  }
  